body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header, .content, .footer {
    padding: 20px;
    text-align: center;
    
  }

  .header {
    background-color: #4CAF50;
    color: white;
  }

  .content {
    background-color: #f1f1f1;
  }

  .footer-bottom {
    background-color: #1c1c1c;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #eee;
  }
  

  /* Responsive Styles */
  @media (max-width: 768px) {
    .header, .content, .footer {
      font-size: 14px;
      padding: 10px;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .header, .content, .footer {
      font-size: 18px;
    }
  }
  @media (min-width: 1025px) {
    .header, .content, .footer {
      font-size: 20px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }

  li:hover {
    background-color: #eee;
  }

  /* Carousel Styles */
  .carousel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  .carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-images img {
    width: 100%;
    height: auto;
  }

  .carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

  .carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }

  .carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }